<form action="" id="create-user">
  <label for="" id="name">Nome</label>
  <input type="text" id="name" name="name" />
  <label for="" id="cpf">CPF</label>
  <input type="text" id="cpf" name="cpf" />
  <label for="" id="rg">RG</label>
  <input type="text" id="rg" name="rg" />
  <section id="address">
    <label for="" id="zipcode">CEP</label>
    <input type="text" id="zipcode" name="zipCode" placeholder="12345-678" />
    <label for="" id="publicPlace">Rua</label>
    <input type="text" id="publicPlace" />
  </section>
</form>
<script src="js/script.js"></script>