<h3 class="success">{{success}}</h3>
<style>
  .success { color: lightgreen; display: block; box-shadow: 2px 3px 5px
  #006400a9; }
</style>
<script>setTimeout(() => window.location.assign({{goTo}}), 3000)</script>