<h3 class="success">{{success}}</h3>
<style>
  .success { color: lightgreen; font-size: 2rem; display: block; box-shadow: 0px
  0px 20px #006400a9; }
</style>
<script>setTimeout(() => window.location.assign('{{goTo}}'), 3000)</script>