nav.navbar {
  display: grid;
  align-items: center;
}

div.grid {
  min-height: 90%;
}

div.search {
  position: absolute;
  right: 0;
}

input#searchInput {
  /* float: right; */
  border-radius: 20px;
}

i.search-icon {
  position: absolute;
  top: 25%;
  right: 5px;
  color: red;
  width: 20px;
  height: 20px;
  background-image: url("/images/search_icon.png");
  background-size: cover;
  cursor: pointer;
}

.table-container {
  display: flex;
  margin: 0 auto;
  width: 90%;
  overflow: auto;
  scroll-behavior: smooth;
  max-height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

table.table {
  min-width: 100%;
  border-collapse: collapse;
}

.table-container::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.table-container::-webkit-scrollbar-button {
  display: none;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #d2691e3b;
  border-radius: 20px;
  border: none;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #d2691ebd;
}

.table-container::-webkit-scrollbar-track {
  background-color: transparent;
}

table.table > thead {
  height: 2rem;
  background-color: var(--bg-primary);
}

table.table > thead th {
  font-weight: 600;
  position: relative;
  min-width: 180px;
  max-width: 220px;
  color: #fff;
  font-size: 1.2rem;
}

table.table > thead th > i {
  position: absolute;
  right: 5px;
  width: 1.2rem;
  height: 1.2rem;
  background: linear-gradient(to bottom, #aaa, #ddd);
  cursor: pointer;
}

table.table > thead th > i.up::before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 15%;
  height: 70%;
  width: 70%;
  background-image: url("/images/arrow-up.png");
  background-size: cover;
}
table.table > thead th > i.down::before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 15%;
  height: 70%;
  width: 70%;
  background-image: url("/images/arrow-down.png");
  background-size: cover;
}

table.table > tbody > tr {
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid gray;
}

table.table > tbody > tr.active {
  background-color: gray;
}

table.table > tbody > tr:last-child {
  border-bottom: none;
}

table.table > tbody > tr td {
  padding: 8px 0;
  font-size: 1.2rem;
}

.actions {
  position: relative;
  bottom: 0;
  width: 100%;
}

.actions > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li.link {
  display: inline-flex;
  width: auto;
  background-color: var(--bg-primary);
}
