@import url("./common/css/style.css");

:root {
  --bg-primary: #d2691e;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: radial-gradient(circle at center, #aaa 0, #555, #111 100%); */
  background-repeat: round;

  background-image: url("../images/bg.gif");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
}

li.link {
  width: 100%;
}

aside {
  height: 100%;
  border-left: 1px solid var(--bg-primary);
}

h1.title {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: var(--bg-primary);
  text-align: center;
}
