.btn {
  font-size: var(--fs-1-5rem);
  padding: 10px 20px;
  background-color: var(--bg-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
