@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

input,
textarea,
select {
  font-family: "Raleway";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  color: #666565;
  border: solid 2px #ffa500;
  border-radius: 10px;
}

input::placeholder {
  text-transform: uppercase;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
