li.link {
  background-color: transparent;
  margin: 4px;
  text-align: center;
  border: solid 1px var(--bg-primary);
  border-radius: 10px;
}

a {
  padding: 10px 20px;
  display: block;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
}
